.nav__buttom {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  background: #BDB76B;
  box-shadow: 0 5px 0 gray;
  transition-duration: 1s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}
.nav__buttom:hover {
  background: #ece277;
}
.nav__buttom:active {
  top: 3px;
  box-shadow: 0 2px 0 rgb(11, 18, 11);
}

.on-all {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 90%;
  right: 1%;
  background-image: url(../images/logo/button\ all.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid;
  transition-duration: 1s;
  animation-name: on-all;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.on-all:hover {
  animation-play-state: paused;
}

.header {
  background: #BDB76B;
  box-shadow: 5px 5px 20px 1px #b4b071;
}
.header__block-logo {
  width: 10rem;
}
.header__block-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.header__block-sety {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding-top: 2rem;
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.header__block-items {
  font-family: "Pacifico", cursive;
}

.logo__block-img {
  width: 100%;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .block__title-title {
    font-size: calc(48px + 81.6 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .block__title-title {
    font-size: calc(48px + 48 * 100vw / 1920);
  }
}
@media (max-width: 767px) {
  .block__title-subtitle {
    font-size: calc(32px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .block__title-subtitle {
    font-size: calc(32px + 32 * 100vw / 1920);
  }
}
.block__sety-icons {
  position: relative;
  width: 40px;
  border-radius: 10px;
  box-shadow: 0 3px 0 gray;
  top: 0;
  transition-duration: 0.5s;
}
.block__sety-icons:active {
  top: 2px;
  box-shadow: 0 1px 0 gray;
}

.block-items-data {
  display: flex;
}

@media (max-width: 767px) {
  .items-data-sity, .items-data-adress, .items-data-tel {
    font-size: calc(16px + 27.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .items-data-sity, .items-data-adress, .items-data-tel {
    font-size: calc(16px + 16 * 100vw / 1920);
  }
}

.data__tel-img {
  margin: 3px 1rem;
  border-radius: 10px;
}

@media (max-width: 1025px) {
  .header__block {
    justify-content: space-around;
  }
  .header__block-sety {
    padding-top: 1rem;
  }
  .header .block-items-data {
    flex-direction: column;
    align-items: center;
  }
  .header .items-data-adress {
    margin: 0.8rem 0;
  }
}
@media (max-width: 821px) {
  .block__sety-icons {
    width: 30px;
  }
}
@media (max-width: 431px) {
  .header__block {
    flex-direction: column;
  }
  .header .block__sety-icons {
    width: 40px;
  }
  .header .items-data-tel {
    display: flex;
    align-items: center;
  }
}
.nav__buttom {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  background: #BDB76B;
  box-shadow: 0 5px 0 gray;
  transition-duration: 1s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}
.nav__buttom:hover {
  background: #ece277;
}
.nav__buttom:active {
  top: 3px;
  box-shadow: 0 2px 0 rgb(11, 18, 11);
}

.on-all {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 90%;
  right: 1%;
  background-image: url(../images/logo/button\ all.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid;
  transition-duration: 1s;
  animation-name: on-all;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.on-all:hover {
  animation-play-state: paused;
}

.wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.form {
  display: flex;
  flex-direction: column;
  width: 40rem;
  background: rgb(65, 64, 64);
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  padding: 0 2.5rem 2.5rem;
}
.form__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.form__item {
  margin-bottom: 2.5rem;
}
.form__lable {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}
.form__lable span {
  color: red;
}
.form__input {
  width: 100%;
  height: 3rem;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 18px;
}
.form__input::-moz-placeholder {
  font-size: 1rem;
}
.form__input::placeholder {
  font-size: 1rem;
}
.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: rgb(20, 79, 20);
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 5px 0 rgb(37, 40, 37);
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}
.form__button:hover {
  background-color: rgb(29, 175, 29);
}
.form__button:active {
  top: 3px;
  box-shadow: 0 2px 0 rgb(11, 18, 11);
}

.form-close {
  background: inherit;
  margin-right: -2.5rem;
  border-radius: 10px;
}
.form-close img {
  width: 2rem;
  float: right;
}

.message {
  resize: none;
  height: 10rem;
  padding-top: 1rem;
}
.message::-moz-placeholder {
  font-size: 1rem;
}
.message::placeholder {
  font-size: 1rem;
}

.form-error {
  background: rgb(234, 183, 183);
  border: 1px solid red;
}

.form-activ {
  display: flex;
}

.name-error, .mail-error, .message-error {
  font-size: 0.88rem;
  text-align: center;
  color: red;
  margin-bottom: 0.3rem;
  display: none;
}

.footer {
  background: #BDB76B;
  margin-top: 5rem;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.footer__block-sety {
  margin: 1rem 0;
}
.footer__body {
  text-align: center;
  margin: 1rem auto;
}
@media (max-width: 767px) {
  .footer__body-title {
    font-size: calc(32px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .footer__body-title {
    font-size: calc(32px + 32 * 100vw / 1920);
  }
}
@media (max-width: 767px) {
  .footer__body-subtitle {
    font-size: calc(16px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .footer__body-subtitle {
    font-size: calc(16px + 32 * 100vw / 1920);
  }
}
@media (max-width: 767px) {
  .footer__body-adress {
    font-size: calc(16px + 27.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .footer__body-adress {
    font-size: calc(16px + 16 * 100vw / 1920);
  }
}
.footer__body-adress a {
  color: black;
}
.footer__map {
  border: 2px solid black;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .block__sety-title {
    font-size: calc(32px + 27.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .block__sety-title {
    font-size: calc(32px + 16 * 100vw / 1920);
  }
}
.block__sety {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
}
.block__sety-icon {
  border-radius: 5px;
}

.body__adress-adress {
  padding-bottom: 1rem;
}

@media (max-width: 854px) {
  .footer__block-sety {
    text-align: center;
  }
}
@media (max-width: 821px) {
  .footer__block {
    flex-direction: column;
  }
  .footer__block-sety {
    order: 2;
  }
  .footer__map {
    order: 3;
  }
  .footer .block__sety {
    margin-top: 1rem;
  }
  .footer iframe {
    width: 100%;
  }
}
.body {
  background: #EEE8AA;
}

.conteiner {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  margin-top: 3rem;
}
.nav__menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.section {
  text-align: center;
}
.section__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 1rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 30px #2b2b29;
  margin: 3% 0;
}
@media (max-width: 767px) {
  .section__title {
    font-size: calc(16px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .section__title {
    font-size: calc(16px + 32 * 100vw / 1920);
  }
}
.section__info {
  display: flex;
  align-items: center;
  background: #dcd79d;
  border: 2px solid #b5b05e;
  border-radius: 10px;
  font-family: "Pacifico", cursive;
  box-shadow: 10px 10px 25px 1px #b4b071;
}
.section__foto {
  flex: 0 0 60%;
  height: 25rem;
  background-image: url(../images/img/hanter-foto/hunting.jpg);
  background-position: center;
  background-size: cover;
  border: 2px solid #b5b05e;
  border-radius: 10px;
}
.section__text {
  text-align: center;
  flex: 1 1 auto;
  padding: 2%;
}
@media (max-width: 767px) {
  .section__text {
    font-size: calc(16px + 13.6 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .section__text {
    font-size: calc(16px + 8 * 100vw / 1920);
  }
}

.fishing {
  background-image: url(../images/img/fishing-foto/fishing.svg);
}

.self-defense {
  background-image: url(../images/img/weapon-foto/self-defense.webp);
}

.tourism {
  background-image: url(../images/img/tourizm-foto/turizm\ 1.svg);
}

.slider {
  position: relative;
  padding: 0 3.75rem;
  margin-top: 1rem;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  text-align: center;
}

.slick-arrow {
  position: absolute;
  width: 2.5rem;
  height: 4.4rem;
  top: 40%;
  font-size: 0;
  z-index: 10;
}

.slick-prev {
  left: 0;
  background-image: url(../images/img/arrow.svg);
  transform: rotateY(180deg);
}

.slick-next {
  right: 0;
  background-image: url(../images/img/arrow.svg);
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}
.slick-dots li {
  margin: 0 10px;
}

.slick-active button {
  background: transparent;
  border: 2px solid black;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  perspective: 62.5rem;
  margin: 3rem 2rem 3rem 2rem;
  cursor: pointer;
}
.menu .front, .menu .back {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 1rem;
  box-shadow: 10px 10px 25px #a8a46b;
}
.menu .front {
  position: absolute;
  background: #bdb36b;
  border: 2px solid #bdb55b;
}
.menu .front img {
  width: 21rem;
  height: 24rem;
  border-radius: 10px;
}
.menu .front .front-title {
  font-size: 2rem;
  padding: 1rem;
  text-transform: lowercase;
}
.menu:hover .front {
  transform: rotateY(180deg);
}
.menu .back {
  position: relative;
  justify-content: center;
  width: 21rem;
  height: 28.2rem;
  background: rgba(189, 183, 107, 0.8941176471);
  color: black;
  border: 4px solid #bdb55b;
  box-shadow: inset 50px 50px 50px 50px rgba(200, 190, 89, 0.7215686275);
  transform: rotateY(180deg);
}
.menu .back .back-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(23, 23, 23);
  text-transform: uppercase;
  margin: 1rem;
}
.menu .back .back-title:hover {
  color: rgb(77, 76, 76);
}
.menu .back ul {
  padding-left: 2rem;
}
.menu .back li {
  text-align: start;
  list-style: disc;
  margin: 0.7rem;
}
.menu .back li .back-list {
  color: black;
  font-size: 1.2rem;
  padding-top: 1rem;
  text-transform: uppercase;
}
.menu .back li .back-list:hover {
  color: rgb(157, 110, 110);
}
.menu:hover .back {
  transform: rotateY(360deg);
}

@keyframes on-all {
  0% {
    top: 90%;
    right: 1%;
  }
  100% {
    top: 70%;
    right: 1%;
  }
}
@media (max-width: 900px) {
  .section__info {
    flex-direction: column;
  }
  .section__foto {
    flex: none;
    height: 20rem;
    width: 100%;
  }
  .on-all {
    display: none;
  }
}
@media (max-width: 840px) {
  .slider {
    padding: 0 5px;
  }
  .slick-arrow {
    width: 0;
  }
  .menu {
    width: 200px;
  }
}
@media (max-width: 350px) {
  .conteiner {
    width: 100%;
  }
  .menu .front img {
    width: 250px;
    height: 300px;
  }
  .section {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=home_page_style.css.map */