.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: 0 auto;
  background: rgb(65, 64, 64);
  color: white;
  padding: 0 2.5rem 2.5rem;
  border-radius: 10px;
}

.footer__body {
  text-align: center;
}

.cloze {
  background: rgb(65, 64, 64);
  margin-right: -2.5rem;
  border-radius: 10px;
}
.cloze img {
  width: 2rem;
  float: right;
}

.form__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.form__item {
  margin-bottom: 2.5rem;
}

.form__lable {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}
.form__lable span {
  color: red;
}

.form__input {
  width: 100%;
  height: 3rem;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 18px;
}
.form__input::-moz-placeholder {
  font-size: 1rem;
}
.form__input::placeholder {
  font-size: 1rem;
}

.message {
  resize: none;
  height: 10rem;
  padding-top: 1rem;
}
.message::-moz-placeholder {
  font-size: 1rem;
}
.message::placeholder {
  font-size: 1rem;
}

.form__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: rgb(20, 79, 20);
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 5px 0 rgb(37, 40, 37);
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}
.form__button:hover {
  background-color: rgb(29, 175, 29);
}
.form__button:active {
  top: 3px;
  box-shadow: 0 2px 0 rgb(11, 18, 11);
}

footer {
  background: #BDB76B;
  margin-top: 5rem;
}

.footer__block {
  display: flex;
  justify-content: space-between;
}

.footer__block-adaptiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__sety {
  margin: 1rem 0;
}

.footer-title {
  font-size: 3rem;
}

.footer__sety-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.icons {
  border-radius: 5px;
}

.footer__body {
  margin: 1rem auto;
}

.footer__title {
  font-size: 4rem;
}

.footer__subtitle {
  font-size: 3rem;
}

.footer__alladres {
  font-size: 2rem;
}
.footer__alladres a {
  color: black;
}
.footer__alladres .footer__adres {
  padding-bottom: 1rem;
}

.footer__map {
  border: 2px solid black;
  border-radius: 5px;
}

@media (max-width: 1025px) {
  .footer__block {
    flex-direction: column;
  }
  .footer__body {
    margin-right: 3rem;
  }
  .footer__sety-one {
    gap: 1rem;
  }
  .footer__sety {
    text-align: center;
    margin: 1rem 0 0 3rem;
  }
  .footer-title {
    font-size: 2rem;
  }
  .footer__title {
    font-size: 3rem;
  }
  .footer__subtitle {
    font-size: 2rem;
  }
  .footer__map {
    margin-top: 1rem;
  }
  .footer__map-body {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .footer__block-adaptiv {
    flex-direction: column;
  }
  .footer__body {
    margin: auto;
  }
  .footer__sety-one {
    gap: 2rem;
    margin: 0.5rem auto;
  }
  .icons {
    width: 25px;
    height: 25px;
    margin: 0;
  }
  .footer__sety {
    margin: 0.5rem auto;
  }
  .footer-title {
    font-size: 1rem;
  }
  .footer__title {
    font-size: 2rem;
  }
  .footer__subtitle {
    font-size: 1rem;
  }
  .footer__alladres {
    font-size: 1rem;
  }
  .footer__alladres .footer__adres {
    padding-bottom: 0.5rem;
  }
  .tel-logo {
    width: 15px;
    height: 15px;
  }
  .on-all {
    display: none;
  }
}
.header {
  background: #BDB76B;
  font-family: "Pacifico", cursive;
  box-shadow: 5px 5px 20px 1px #b4b071;
}

.heder__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heder__block-adaptiv {
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 1rem 0;
}

.header__logo-img {
  width: 150px;
  border-radius: 50%;
}

.header__title {
  text-align: center;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}

.header-title {
  font-size: 6rem;
}

.header-subtitle {
  font-size: 4rem;
}

.header__data {
  display: flex;
}

.header__item-tel, .header__item-adres {
  font-size: 2rem;
}

.header__item-img {
  margin: 3px 1rem;
  border-radius: 10px;
}

.header__sety {
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  padding-top: 2rem;
}

.icons {
  position: relative;
  width: 40px;
  border-radius: 10px;
  box-shadow: 0 3px 0 gray;
  top: 0;
  transition-duration: 0.5s;
}
.icons:active {
  top: 2px;
  box-shadow: 0 1px 0 gray;
}

.heder__block-adaptiv-grid {
  grid-template-rows: 150px 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 20px;
  display: none;
}

@media (max-width: 1220px) {
  .heder__block {
    justify-content: space-around;
  }
  .header__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }
  .header__sety {
    padding-top: 1rem;
  }
}
@media (max-width: 992px) {
  .header-title {
    font-size: 5rem;
  }
  .header-subtitle {
    font-size: 3rem;
  }
  .header__item-adres, .header__item-tel {
    padding-top: 5px;
    font-size: 1.5rem;
  }
  .header__item-img {
    width: 30px;
  }
}
@media (max-width: 750px) {
  .header-title {
    font-size: 4rem;
  }
  .header-subtitle {
    font-size: 2rem;
  }
  .icons {
    width: 30px;
  }
}
@media (max-width: 550px) {
  .heder__item {
    display: none;
  }
  .header__data {
    margin-top: -1rem;
  }
  .heder__block-adaptiv {
    display: none;
  }
  .heder__block-adaptiv-grid {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-bottom: 1rem;
  }
  .header__sety {
    gap: 1rem;
  }
  .header__item-adres,
  .header__item-tel {
    padding-top: 5px;
    font-size: 1rem;
  }
  .header__item-img {
    width: 20px;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #EEE8AA;
}

main {
  flex: 1 1 auto;
}

.conteiner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.slider {
  position: relative;
  margin-top: 1rem;
}

.slick-list {
  max-height: 35rem;
  overflow: hidden;
}

.slick-track {
  display: flex;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu__title {
  text-align: center;
  font-size: 6rem;
  margin: 2rem;
}

.menu__one {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3rem 0;
  border: 2px solid rgb(69, 69, 69);
  background: #ece493;
  padding: 2rem;
}

.menu__subtitle {
  text-align: center;
  font-size: 3rem;
}

.menu__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-top: 15px;
}

.activ {
  border: 10px solid gray;
}

.menu__img, .menu-two__img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.menu__name {
  font-size: 1.5rem;
  max-width: 15rem;
  text-align: center;
}

.products__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
}

.card, .card-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  border: 4px solid rgb(98, 97, 97);
  background: #ece493;
  border-radius: 10px;
}

.card-img {
  border-radius: 5px;
  width: 100%;
}

.product-name {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.product-price {
  font-size: 2rem;
  color: red;
}

.on-all {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 90%;
  right: 1%;
  background-image: url(../images/logo/rocket\ 1.svg);
  border-radius: 10px;
  border: 1px solid;
  transition-duration: 1s;
  animation-name: on-all;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.on-all:hover {
  background: url(../images/logo/rocket2.svg);
  animation-play-state: paused;
}

@keyframes on-all {
  0% {
    top: 90%;
    right: 1%;
  }
  100% {
    top: 70%;
    right: 1%;
  }
}
@media (max-width: 550px) {
  .activ {
    border: 4px solid gray;
  }
  .menu__title {
    font-size: 4rem;
  }
  .menu__subtitle {
    font-size: 2rem;
  }
  .menu__one {
    padding: 1rem;
  }
  .menu__img, .menu-two__img {
    width: 4rem;
    height: 4rem;
  }
  .menu__name {
    font-size: 1rem;
  }
  .card, .card-two {
    width: 10rem;
  }
  .product-name {
    font-size: 1rem;
  }
  .product-price {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=menu_page.css.map */