.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: 0 auto;
  background: rgb(65, 64, 64);
  color: white;
  padding: 0 2.5rem 2.5rem;
  border-radius: 10px;
}

.footer__body {
  text-align: center;
}

.cloze {
  background: rgb(65, 64, 64);
  margin-right: -2.5rem;
  border-radius: 10px;
}
.cloze img {
  width: 2rem;
  float: right;
}

.form__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.form__item {
  margin-bottom: 2.5rem;
}

.form__lable {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}
.form__lable span {
  color: red;
}

.form__input {
  width: 100%;
  height: 3rem;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 18px;
}
.form__input::-moz-placeholder {
  font-size: 1rem;
}
.form__input::placeholder {
  font-size: 1rem;
}

.message {
  resize: none;
  height: 10rem;
  padding-top: 1rem;
}
.message::-moz-placeholder {
  font-size: 1rem;
}
.message::placeholder {
  font-size: 1rem;
}

.form__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: rgb(20, 79, 20);
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 5px 0 rgb(37, 40, 37);
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}
.form__button:hover {
  background-color: rgb(29, 175, 29);
}
.form__button:active {
  top: 3px;
  box-shadow: 0 2px 0 rgb(11, 18, 11);
}

.footer {
  background: #BDB76B;
  margin-top: 5rem;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.footer__block-sety {
  margin: 1rem 0;
}

@media (max-width: 767px) {
  .block__sety-title {
    font-size: calc(32px + 27.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .block__sety-title {
    font-size: calc(32px + 16 * 100vw / 1920);
  }
}

.block__sety {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.block__sety-icon {
  border-radius: 5px;
}

.footer__body {
  margin: 1rem auto;
}

@media (max-width: 767px) {
  .footer__body-title {
    font-size: calc(32px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .footer__body-title {
    font-size: calc(32px + 32 * 100vw / 1920);
  }
}

@media (max-width: 767px) {
  .footer__body-subtitle {
    font-size: calc(16px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .footer__body-subtitle {
    font-size: calc(16px + 32 * 100vw / 1920);
  }
}

@media (max-width: 767px) {
  .footer__body-adress {
    font-size: calc(16px + 27.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .footer__body-adress {
    font-size: calc(16px + 16 * 100vw / 1920);
  }
}
.footer__body-adress a {
  color: black;
}
.footer__body-adress .body__adress-adress {
  padding-bottom: 1rem;
}

.footer__map {
  border: 2px solid black;
  border-radius: 5px;
}

@media (max-width: 1025px) {
  .footer__block {
    padding: 1rem 0;
  }
}
@media (max-width: 854px) {
  .footer__block-sety {
    text-align: center;
  }
}
@media (max-width: 821px) {
  .footer__block {
    flex-direction: column;
  }
  .footer__block-sety {
    order: 2;
  }
  .block__sety {
    margin-top: 1rem;
  }
  .footer__map {
    order: 3;
  }
  iframe {
    width: 100%;
  }
}
.header {
  background: #BDB76B;
  box-shadow: 5px 5px 20px 1px #b4b071;
}

.heder__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header__block-logo {
  width: 10rem;
}

.logo__block-img {
  width: 100%;
  border-radius: 50%;
}

.header__block-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .block__title-title {
    font-size: calc(48px + 81.6 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .block__title-title {
    font-size: calc(48px + 48 * 100vw / 1920);
  }
}

@media (max-width: 767px) {
  .block__title-subtitle {
    font-size: calc(32px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .block__title-subtitle {
    font-size: calc(32px + 32 * 100vw / 1920);
  }
}

.heder__block-items {
  font-family: "Pacifico", cursive;
}

.block-items-data {
  display: flex;
}

@media (max-width: 767px) {
  .items-data-adress, .items-data-tel, .items-data-sity {
    font-size: calc(16px + 27.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .items-data-adress, .items-data-tel, .items-data-sity {
    font-size: calc(16px + 16 * 100vw / 1920);
  }
}

.data__tel-img {
  margin: 3px 1rem;
  border-radius: 10px;
}

.header__block-sety {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding-top: 2rem;
}

.block__sety-icons {
  position: relative;
  width: 40px;
  border-radius: 10px;
  box-shadow: 0 3px 0 gray;
  top: 0;
  transition-duration: 0.5s;
}
.block__sety-icons:active {
  top: 2px;
  box-shadow: 0 1px 0 gray;
}

@media (max-width: 1025px) {
  .heder__block {
    justify-content: space-around;
  }
  .block-items-data {
    flex-direction: column;
    align-items: center;
  }
  .items-data-adress {
    margin: 0.8rem 0;
  }
  .header__block-sety {
    padding-top: 1rem;
  }
}
@media (max-width: 821px) {
  .block__sety-icons {
    width: 30px;
  }
}
@media (max-width: 431px) {
  .heder__block {
    flex-direction: column;
  }
  .block__sety-icons {
    width: 40px;
  }
  .items-data-tel {
    display: flex;
    align-items: center;
  }
}
.on-all {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 90%;
  right: 1%;
  background-image: url(../images/logo/button\ all.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid;
  transition-duration: 1s;
  animation-name: on-all;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.on-all:hover {
  animation-play-state: paused;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #EEE8AA;
}

main {
  flex: 1 1 auto;
}

.conteiner {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.slider {
  position: relative;
  margin-top: 1rem;
  border: 5px solid #BDB76B;
  box-shadow: 5px 5px 20px 1px #b4b071;
  border-radius: 10px;
}

.slick-list {
  max-height: 35rem;
  overflow: hidden;
}

.slick-track {
  display: flex;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu__title {
  text-align: center;
  text-shadow: 3px 3px 30px #2b2b29;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .menu__title {
    font-size: calc(64px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .menu__title {
    font-size: calc(64px + 32 * 100vw / 1920);
  }
}

.menu__subtitle {
  text-align: center;
  text-shadow: 3px 3px 30px #2b2b29;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .menu__subtitle {
    font-size: calc(32px + 27.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .menu__subtitle {
    font-size: calc(32px + 16 * 100vw / 1920);
  }
}

.menu__one {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  border: 5px solid #BDB76B;
  box-shadow: 5px 5px 20px 1px #b4b071;
  border-radius: 1rem;
  background: #ece493;
  margin: 3rem auto;
  padding: 2rem;
}

.menu__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-top: 15px;
}

.activ {
  border: 10px solid gray;
}

.menu__img, .menu-two__img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.menu__name {
  font-size: 1.5rem;
  max-width: 15rem;
  text-align: center;
}

.products__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
}

.card, .card-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  border: 4px solid rgb(98, 97, 97);
  background: #ece493;
  box-shadow: 3px 3px 30px #2b2b29;
  border-radius: 10px;
}

.card-img {
  border-radius: 5px;
  width: 100%;
}

.product-name {
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
}

.product-price {
  font-size: 2rem;
  color: red;
  margin-bottom: 0.5rem;
}

@keyframes on-all {
  0% {
    top: 90%;
    right: 1%;
  }
  100% {
    top: 70%;
    right: 1%;
  }
}
@media (max-width: 550px) {
  .activ {
    border: 4px solid gray;
  }
  .menu__one {
    padding: 1rem;
  }
  .menu__img, .menu-two__img {
    width: 4rem;
    height: 4rem;
  }
  .menu__name {
    font-size: 1rem;
  }
  .card, .card-two {
    width: 10rem;
  }
  .product-name {
    font-size: 1rem;
  }
  .product-price {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=menu_page.css.map */