@import './changeable';
@import './mixins';

.footer{
    background: $colobg;
    margin-top: 5rem;
}

.footer__block {
    display: flex;
    justify-content: space-between;
}

.footer__block-sety {
    margin: 1rem  0;
}

.block__sety-title {
    @include adaptiv-font(48, 32);
}

.block__sety {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

.block__sety-icon {
    border-radius: 5px;
}

.footer__body {
    margin: 1rem auto;
}

.footer__body-title {
    @include adaptiv-font(64, 32);
}

.footer__body-subtitle{
    @include adaptiv-font(48, 16);
}

.footer__body-adress {
    @include adaptiv-font(32, 16);
    a{
        color: black;
    }
    .body__adress-adress{
        padding-bottom: 1rem;
    }
}

.footer__map {
    border: 2px solid black;
    border-radius: 5px;
}

@media (max-width: 1025px) {
    .footer__block{
        padding: 1rem 0;
    }
}
@media (max-width: 854px) {
    .footer__block-sety {
        text-align: center;
    }
}
@media (max-width: 821px) {
    .footer__block{
        flex-direction: column;
    }
    .footer__block-sety{
        order: 2;
    }
    .block__sety{
        margin-top: 1rem;
    }
    .footer__map{
        order: 3;
    }
    iframe{
        width: 100%;
    }
}

