@import "./Email.scss";
@import "./fotter.scss";
@import "./_header.scss";
@import './changeable';
@import './mixins';
@import './templates';

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #EEE8AA;
    
}
main{
    flex: 1 1 auto;
}

.conteiner {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}



// =================main===================

// ===========slider================
.slider {
    position: relative;
    margin-top: 1rem;
    border: 5px solid $colobg;
    box-shadow: $color-box-shadow;
    border-radius: 10px;
}

.slick-list {
    max-height: 35rem;
    overflow: hidden;
}

.slick-track {
    display: flex;
    text-align: center;
}


// ==============menu==================

.menu {
    display: flex;
    flex-direction: column;
}

.menu__title {
    text-align: center;
    @include adaptiv-font(96, 64);
    text-shadow: 3px 3px 30px $title-text-shadow;
    margin-top: 2rem;
}
.menu__subtitle {
    text-align: center;
    @include adaptiv-font(48, 32);
    text-shadow: 3px 3px 30px $title-text-shadow;
    margin-top: 2rem;
}

.menu__one {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: fit-content;
    border: 5px solid $colobg;
    box-shadow: $color-box-shadow;
    border-radius: 1rem;
    background: $menu-color-bg;
    margin: 3rem auto;
    padding: 2rem;
}

.menu__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: 15px;
    
}

.activ{
    border: 10px solid gray;
}

.menu__img, .menu-two__img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.menu__name {
    font-size: 1.5rem;
    max-width: 15rem;
    text-align: center;
}

// ===========product card=============

.products__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

.card, .card-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    border: 4px solid $card-border-color;
    background: $menu-color-bg;
    box-shadow: 3px 3px 30px $title-text-shadow;
    border-radius: 10px;
}

.card-img{
    border-radius: 5px;
    width: 100%;
}

.product-name{
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
}

.product-price{
    font-size: 2rem;
    color: red;
    margin-bottom: 0.5rem;
}


.on-all {
    @extend %button-on-all;
}

@keyframes on-all {
    0% {
        top: 90%;
        right: 1%;
    }

    100% {
        top: 70%;
        right: 1%;
    }
}

@media (max-width: 550px) {
    .activ {
        border: 4px solid gray;
    }

    .menu__one {
        padding: 1rem;
    }

    .menu__img, .menu-two__img {
        width: 4rem;
        height: 4rem;
    }

    .menu__name {
        font-size: 1rem;
    }
    .card, .card-two {
        width: 10rem;
    }

    .product-name {
        font-size: 1rem;
    }

    .product-price {
        font-size: 1.5rem;
    }
}