@import "./Email.scss";
@import "./fotter.scss";
@import "./_header.scss";

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #EEE8AA;
}
main{
    flex: 1 1 auto;
}

.conteiner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}


// main

// slider
.slider {
    position: relative;
    // padding: 0 60px;
    margin-top: 1rem;
}

.slick-list {
    height: 35rem;
    overflow: hidden;
}

.slick-track {
    display: flex;
    text-align: center;
}

// menu

.menu {
    display: flex;
    flex-direction: column;
}

.menu__title {
    text-align: center;
    font-size: 6rem;
    margin: 2rem;
}

.menu__one {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem 0;
    border: 2px solid rgb(69, 69, 69);
    background: #ece493;
    padding: 2rem;
}

.menu__subtitle {
    text-align: center;
    font-size: 3rem;
}

.menu__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: 15px;
    
}

.activ{
    border: 10px solid gray;
}

.menu__img, .menu-two__img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.menu__name {
    font-size: 1.5rem;
    width: 15rem;
    text-align: center;
}

// product card

.products__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

.card, .card-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    border: 4px solid rgb(98, 97, 97);
    background: #ece493;
    border-radius: 10px;
}

.card-img{
    border-radius: 5px;
    width: 100%;
}

.product-name{
    font-size: 1.5rem;
    padding: 1rem 0 ;
    // text-align: center;
}

.product-price{
    font-size: 2rem;
    color: red;
}







.on-all {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 90%;
    right: 1%;
    background-image: url(../images/logo/rocket\ 1.svg);
    border-radius: 10px;
    border: 1px solid;
    transition-duration: 1s;
    animation-name: on-all;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &:hover {
        background: url(../images/logo/rocket2.svg);
        animation-play-state: paused;
    }
}

@keyframes on-all {
    0% {
        top: 90%;
        right: 1%;
    }

    100% {
        top: 70%;
        right: 1%;
    }
}
